Button {
    -fx-background-size: 98% 98%;
    -fx-background-position: center center;
    /*-fx-background-color: linear-gradient(#85a5a4, #cafefc);*/
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

Button:hover{
    -fx-background-size: 105% 105%;
}