/*
@font-face {
    font-family: 'New Walt Disney Font Regular';
    src: url(Fonts/NewWaltDisneyFontRegular-BPen.ttf);
}
*/

.root{
    -fx-background-image: url("../../../../resources/Images/introBackground.gif");
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-position: center center;
}


Button {
    -fx-text-fill: #0b2074;
    /*-fx-font-family: 'New Walt Disney Font Regular';*/
    -fx-font-weight: bold;
    -fx-font-size: 24;
    -fx-background-color: linear-gradient(#85a5a4, #cafefc);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}


Button:hover{
    -fx-background-size: 105% 105%;
}

